@import url("https://fontlibrary.org//face/avara");
* {
  font-family: "AvaraBold";
  font-weight: normal;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  --color-grayish: rgb(176, 176, 176);
  --color-light-gray: rgb(221, 221, 221);
  --color-dark-gray: rgb(78, 78, 78);
}

.title {
  cursor: pointer;
}

.topBar {
  background-color: gray;
  height: 5rem;
  width: 100%;
  font-size: 5vw;
  display: flex;
  padding: 1rem;
  align-items: center;
}

body {
  height: 100vh;
}

.sidebar {
  width: 30vw;
  background-color: var(--color-grayish);
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addProject {
  padding: 1rem;
  background-color: var(--color-light-gray);
  border: 1px solid black;
  border-radius: 10px;
}

.addProject:hover {
  background-color: var(--color-dark-gray);
  color: antiquewhite;
}

.addProject:hover .change {
  background-color: var(--color-dark-gray);
  color: antiquewhite;
}

.main {
  display: flex;
}

.content {
  background-color: var(--color-light-gray);
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.screen {
  width: 100%;
  overflow: hidden;
}

.topScreen {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-grayish);
  border-radius: 10px;
}

@keyframes slidedown {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.appear {
  position: fixed;
  padding: 1rem;
  width: 30vw;
  top: 10px;
  right: 10px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  animation-name: slidedown;
  animation-duration: 1s;
}

.line {
  border-radius: 10px;
  width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  animation-name: pop;
  animation-duration: 1s;
  padding: 1rem;
  background-color: var(--color-grayish);
  display: flex;
  flex-direction: column;
}

.line2 {
  border-radius: 10px;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  animation-name: pop;
  animation-duration: 1s;
  padding: 1rem;
  background-color: var(--color-grayish);
  display: flex;
  gap: 1rem;
}

.descc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strip {
  background-color: var(--color-grayish);
  border-radius: 10px;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  animation-name: pop;
  animation-duration: 1s;
  padding: 1rem;
  background-color: var(--color-grayish);
  display: flex;
  gap: 1rem;
}

@keyframes slideRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.appProject {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-grayish);
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 1px solid black;
  animation-name: slideRight;
  animation-duration: 1s;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  border-radius: 10px;
  display: flex;
  background-color: var(--color-dark-gray);
  padding: 1rem;
}
